<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Identity-suite-initializer" parallel="false" thread-count="1">
    <parameter name="useDefaultListeners" value="false"/>
    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
        <listener class-name="org.wso2.identity.integration.test.listeners.IdentityTestListener"/>
    </listeners>

    <test name="is-tests-initialize" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <class name="org.wso2.identity.integration.test.IdentityServerTestSuitInitializerTestCase"/>
            <class name="org.wso2.identity.integration.test.base.TomcatInitializerTestCase"/>
            <class name="org.wso2.identity.integration.test.base.LDAPServerInitializerTestCase"/>
        </classes>
    </test>

    <!--Disabling since the WS-Trust functionality is provided as a connector and it does not exist in the product by default.-->
    <!--<test name="is-tests-default-configuration-sts" preserve-order="true" parallel="false" group-by-instances="true">-->
    <!--&lt;!&ndash; Active sts test case needs to run before passive sts test case&ndash;&gt;-->
    <!--<classes>-->
    <!--<class name="org.wso2.identity.integration.test.sts.ActiveSTSTestCase"/>-->
    <!--</classes>-->
    <!--</test>-->

    <test name="is-test-adaptive-authentication" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <class name="org.wso2.identity.integration.test.auth.AdaptiveScriptInitializerTestCase"/>
            <class name="org.wso2.identity.integration.test.auth.AdaptiveScriptTemporaryClaimPersistenceTestCase"/>
            <class name="org.wso2.identity.integration.test.auth.SecondaryStoreUserLoginTestCase"/>
            <!-- This test has a restart-->
            <class name="org.wso2.identity.integration.test.auth.RiskBasedLoginTestCase" />
        </classes>
    </test>

    <test name="is-tests-default-configuration-ldap" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <class name="org.wso2.identity.integration.test.base.LDAPUserStoreInitializerTestCase"/>
            <class name="org.wso2.identity.integration.test.user.mgt.ReadWriteLdapBasedUserMgtTestCase"/>
            <class name="org.wso2.identity.integration.test.user.mgt.ReadWriteLDAPUserStoreManagerTestCase"/>
        </classes>
    </test>

    <test name="is-tests-uuid-user-store" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <!-- This initializer test should run before running other tests. This will copy the relevant services that
                 needs to run the new test cases.-->
            <class name="org.wso2.identity.integration.test.user.mgt.uuid.UUIDUserManagerInitializerTestCase"/>
            <class name="org.wso2.identity.integration.test.user.mgt.uuid.ReadWriteLDAPUUIDUMTestCase"/>
            <class name="org.wso2.identity.integration.test.user.mgt.uuid.JDBCUUIDUMTestCase"/>
        </classes>
    </test>

    <!--
    ====================================================================================================================
        IMPORTANT : All the tests below this section, should be the ones that requires additional Identity Server
        instance.

        To minimize the number of restarts, at each test, additional instance is started before all the tests in the
        below tag and stopped at the end.
    ====================================================================================================================
    -->

    <test name="is-tests-federation" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <class name="org.wso2.identity.integration.test.base.SecondaryCarbonServerInitializerTestCase"/>
            <class name="org.wso2.identity.integration.test.applicationNativeAuthentication.ApplicationNativeAuthenticationFederationTestCase"/>
            <class name="org.wso2.identity.integration.test.sts.TestPassiveSTSFederation"/>
            <!--TODO: Temporary disabled ConditionalAuthenticationTestCase. Enable after fixing the issues. -->
            <!--<class name="org.wso2.identity.integration.test.auth.ConditionalAuthenticationTestCase" />-->
            <class name="org.wso2.identity.integration.test.provisioning.ProvisioningTestCase"/>
            <!--Disabling since the workflow is provided as a connector and it does not exist in the product by default.-->
            <!--<class name="org.wso2.identity.integration.test.workflow.mgt.WorkflowManagementTestCase"/>-->
            <class name="org.wso2.identity.integration.test.oidc.OIDCIdentityFederationTestCase"/>
            <class name="org.wso2.identity.integration.test.provisioning.JustInTimeProvisioningTestCase"/>
            <class name="org.wso2.identity.integration.test.oidc.OIDCFederatedIdpInitLogoutTest"/>
            <class name="org.wso2.identity.integration.test.oauth2.OAuth2TokenExchangeGrantTypeTestCase" />
        </classes>
    </test>

    <!--
    ====================================================================================================================
        IMPORTANT : All the tests below this section, should be the ones that requires configuration changes and
        restarts.

        To minimize the number of restarts, at each test, do the configuration update and restart. Then do the test
        and finally restore the configuration without restarting. The next test will perform the restart with the
        configuration changes required for it.

        If multiple tests can be run with one configuration change, group them into a test group and do the above at
        @BeforeTest, and @AfterTest. See 'is-tests-jdbc-userstore' for example.
    ====================================================================================================================
    -->

    <test name="is-tests-federation-restart" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <class name="org.wso2.identity.integration.test.base.SecondaryCarbonServerInitializerTestCase"/>
            <class name="org.wso2.identity.integration.test.saml.SAMLFederationWithFileBasedSPAndIDPTestCase"/>
            <class name="org.wso2.identity.integration.test.saml.ChangeACSUrlTestCase"/>
        </classes>
    </test>
    <test name="is-tests-jdbc-userstore" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <class name="org.wso2.identity.integration.test.base.JDBCUserStoreInitializerTestCase"/>
            <class name="org.wso2.identity.integration.test.user.mgt.JDBCBasedUserMgtTestCase"/>
            <class name="org.wso2.identity.integration.test.user.mgt.JDBCUserStoreManagerTestCase"/>
        </classes>
    </test>
    <test name="is-tests-read-only-userstore" preserve-order="true" parallel="false" group-by-instances="true" >
        <classes>
            <class name="org.wso2.identity.integration.test.base.ReadOnlyUserStoreInitializerTestCase"/>
            <class name="org.wso2.identity.integration.test.scim2.rest.api.SCIMUserUpdateReadOnlyTest"/>
            <class name="org.wso2.identity.integration.test.user.mgt.ReadOnlyLDAPUserStoreManagerTestCase"/>
        </classes>
    </test>
    <test name="is-tests-oauth-jwt-token-gen-enabled" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <class name="org.wso2.identity.integration.test.oauth2.OAuth2ServiceAuthCodeGrantOpenIdRequestObjectTestCase"/>
            <class name="org.wso2.identity.integration.test.oauth2.OAuth2ServiceAuthCodeGrantOpenIdTestCase"/>
        </classes>
    </test>
    <test name="is-tests-email-username" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <class name="org.wso2.identity.integration.test.user.mgt.CARBON15051EmailLoginTestCase"/>
        </classes>
    </test>
</suite>
